# Git-материал
.git/

# Модули узла
node_modules/

# Убедитесь, что переменные env не просочились в репозиторий
безсерверный.yml

# конкретная папка без сервера
.бессерверный/

# Убедитесь, что URL-адреса веб-хуков разногласий не утекли
проект-url-to-discord-webhook-url.js

### README START
# Что это?

![пример-уведомления](./readme/img/work.gif)

Этот репозиторий содержит лямбда-функцию, которая получает обновления GitHub Board (через GitHub Webhook) и пересылает их в Discord.
Это позволяет пользователю выбирать, какие каналы Discord будут получать уведомления при получении изменений.
