# git stuff
.git/

# Node modules
node_modules/

# Make sure env variables are not leaked to the repository
serverless.yml

# specific folder without server
.serverless/

# Make sure webhook URLs are not leaked
project-url-to-discord-webhook-url.js